<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--Настройка подключения к БД-->
        <property name="connection.url">jdbc:mysql://localhost:3306/firma</property>
        <property name="connection.username">root</property>
        <property name="connection.password">ProjectProf002</property>

        <!--Подключение к драйверу-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <!--Автоматическое создание схемы hdm2ddl-->
        <!--Режимы работы фреймворка
                Create - создние схемы БД (выполняеться при старте работы ситемы)
                Update - работа с текущей схемой и обновление(синхронизация данных)
                Create-drop - создание и удаление схемы(результатов)
                               действий приложения по окончанию работы
                -->
        <property name="hbm2ddl.auto">create</property>

        <!--Создание количества подключений (одновременных подключений)-->
        <property name="connection.pool_size">3</property>
        <!--Позволяет видеть все запросы sql-->
        <property name="show_sql">true</property>

        <mapping class="firma.entity.AccountEmployee"></mapping>
        <mapping class="firma.entity.EmployeeFirm"></mapping>


    </session-factory>
</hibernate-configuration>